* {
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    body {
        padding-top: 56px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}